a{
    color: white;
    /* text-decoration: none; */
}
.nextBox{
    margin: auto;
    margin-top: 80px;
    padding-top: 20px;
    width: 600px;
    height: 200px;
 
    position: relative;
    -webKit-box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    background-color: rgb(42, 6, 71);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.userdet{
    margin: auto;
    margin-top: 80px;
    padding-top: 20px;
    width: 600px;
    height: 650px;
 
    position: relative;
    -webKit-box-shadow:0px 0px 16px -8px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.68);
    background-color: rgb(42, 6, 71);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.userdet .userimage{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10%;
    left: 35%;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 50%;
  
  
}
.nextItem{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userdetailname{
    color: white;
    display: flex;

    height: 550px;
    flex-direction: column;
    margin-top: 10%;
    justify-content: space-around;
}
h2{
    color: gray;
}
.detail{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    gap: 50px;
    align-items: center;
    padding-top: 40px;
}
.userdetailname .namedetails{
    display: flex;
   margin-left: 20px;
   gap: 10px;
   align-items: center;
}
@media only screen and (max-width:600px){
    .nextBox{
        width: 335px;
        margin-top: 100px;
        margin-left: 75px;
    }
    .userdet{
        width: 335px;
        margin-top: 100px;
        margin-left: 75px;
    }
    .userdet .userimage{
        width: 70px;
        height: 70px;
        position: absolute;
        top: -7%;
        left: 35%;
    }
}