.Registerpage{

    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(202, 202, 250, 0.5),rgba(255,255,255,0.5) );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   .Registerpage .wrapper{
        border-radius: 7px;
        width: 40%;
        padding: 20px;
        background-color: rgb(205, 192, 249);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
  
   .Registerpage .wrapper    h1{
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid black;
  width: 16rem;
  
        }
        .Registerpage .wrapper     form{
  display: flex;
  flex-wrap: wrap;}
  
  .Registerpage .wrapper   form   input{
       flex: 1;
       min-width: 40%;
  
   outline: none;
  
   
       margin: 20px 10px 0px 0px;
       padding: 10px;
  }
  
  #textArea{
    margin-top: 20px;
  }